<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Introduce</h2>
                <hr class="light">
                <p class="text-faded">찾아주셔서 감사합니다</p>
                <p class="text-faded">소소하게 취미이상으로 믹싱&마스터링 하는 엔지니어 렌식입니다</p>
                <p class="text-faded">최상의 퀄리티를 내기 위해 모든 작업에 정성을 들여 작업하겠습니다</p>
            </div>
        </div>
    </div>
</section>
