<script src="https://kit.fontawesome.com/a0b04838ec.js" crossorigin="anonymous"></script>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/rensic_">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:rensic@naver.com">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://discord.gg/nCvrQrjWPw">
                <span style="color: Black;">
                    <i class="fab fa-discord fa-5x wow bounceIn" data-wow-delay=".1s"></i>
                </span>
                <p>{{ site.github_username }}</p>
            </a>
        </div>
        <div>
            <p class="text-muted">E-mail : rensic@naver.com</p>
            <p class="text-muted">Copyright © RenSicStudio All Right Reserved.</p>    
        </div>


    </div>
</section>
