<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Service</h2>
                <h4 class="section-heading">모든 커미션은 에디팅+믹싱+마스터링 포함 가격입니다</h4>
                <h4 class="section-heading">아래 가격은 유튜브, SNS 등에 배포하는 목적, 즉 커미션 가격입니다</h4>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>1절치기 Mix</h3>
                    <p class="text-muted">1곡 - 20000원</p>
                    <p class="text-muted">트랙 수 제한 X, 피드백 제한 X</p>
                    <h3>MR&보컬 Mix [A plan]</h3>
                    <p class="text-muted">Solo 1곡 - 50000원</p>
                    <p class="text-muted">Duet 1곡 - 80000원</p>
                    <p class="text-muted">트위치 방송에서 작업, 작업 영상&샘플 제공시 10000원 할인</p>
                    <p class="text-muted">트랙 수 제한 X, 피드백 제한 X</p>
                    <h3>MR&보컬 Mix [B plan]</h3>
                    <p class="text-muted">Solo 1곡 - 35000원</p>
                    <p class="text-muted">Duet 1곡 - 65000원</p>
                    <p class="text-muted">작업 영상&샘플 제공시 5000원 할인</p>
                    <p class="text-muted">트랙 수 제한 X, 피드백 제한 X</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>합창 Mix</h3>
                    <p class="text-muted">1곡 - 100000~(자세한 가격은 문의주세요)</p>
                    <p class="text-muted">트위치 방송에서 작업, 작업 영상&샘플 제공시 10000원 할인</p>
                    <p class="text-muted">보컬 트랙 수 제한 X, 피드백 제한 X, 코러스&화음 트랙 추가금액</p>
                    <h3>Mastering</h3>
                    <p class="text-muted">1곡 투트랙 - 20000원</p>
                    <p class="text-muted">1곡 스템 - 35000원</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-box">
                    <h3>이용 약관</h3>
                    <p class="text-muted">커미션 비용 지불은 '계좌이체'만 가능하고, 선입금으로 입금확인 시 작업일정 안내드립니다</p>
                    <p class="text-muted">작업 진행 중 환불 불가능합니다(녹음본 상태에 따라 작업이 불가능하다 판단되면 전액 환불)</p>
                    <p class="text-muted">녹음본은 44.1kHz 또는 48kHz, 24bit .wav로 부탁드립니다</p>
                    <p class="text-muted">MR&보컬 믹스의 경우 MR을 꼭 보내주셔야하며, 참고할 음원 또는 영상이 있다면 같이 첨부해주시면 됩니다</p>
                    <p class="text-muted">MR&보컬 믹스의 작업기간은 최대 1주일입니다. 변동사항이 생길 경우 미리 안내해드리겠습니다</p>
                    <p class="text-muted">녹음본, MR 퀄리티 등으로 작업의 진행이 어려울 경우 수정 요청을 드릴 수 있으며 수정이 안될 경우 작업이 불가능할 수 있습니다</p>
                    <p class="text-muted">유튜브 또는 SNS에 투고 시 작업자 표기 필수입니다</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-box">
                    <h3>자주 묻는 질문</h3>
                    <p class="text-muted">[A plan]은 방학 시즌, [B plan]은 학기 중에 신청 가능하고 기숙사 생활로 인해 헤드셋으로 작업합니다</p>
                    <p class="text-muted">에디팅과 믹싱은 각각 커미션 받지 않습니다</p>
                    <p class="text-muted">코러스, 화음 트랙이 있을 경우 꼭 사전에 알려주셔야하고 가격이 변동될 수 있습니다</p>
                    <p class="text-muted">합창, 악기 풀트랙 믹싱은 견적 상담 후 진행합니다</p>
                    <p class="text-muted">트위치 방송에서 작업시에는 신청자 닉네임은 익명으로 해드립니다</p>
                    <p class="text-muted">할인의 경우 매번 가능한 것이 아닌, 디스코드에 공지하여 선착순으로 한정된 작업만 받습니다</p>
                </div>
            </div>
        </div>
    </div>
</section>
